
#slide-1 {
	background: url(../assets/flag-yellow.jpg) center center fixed;
	background-size: cover;
	height: 35%;
}

#slide-2 .bckgrnd {
    background: none;
    height: 300px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

.bckgrnd {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%; 
    width: 100%;
}

#slide-3 {
	background: url(../assets/football_large.jpg) center center fixed;
	background-size: cover;
	height: 55%;
}

.turkey-bowl {
	text-align: center;
	padding: 20%;
}

#slide-4 {
	background: url(../assets/back_drop.jpeg) center center fixed;
	background-size: cover;
	height: 55%;
}


